<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javakc.luxiang.mapper.LuxiangMapper">



    <insert id="insert" parameterType="String">
insert into luxiang(id,ip,filename,file)
        values(null,#{ip},#{filename},#{file})
    </insert>

    <select id="selAll" resultType="com.javakc.luxiang.entity.Luxiang">
        select * from luxiang where  file=#{file}
    </select>


</mapper>